@import "module/code.styl"
@import "module/theme.styl"
@import "module/arrow.styl"
@import "module/sidebar.styl"
@import "module/prism-lin.styl"
@import "module/navbar.styl"
@import "module/sidebar-link.styl"
@import "module/custom-blocks.styl"

th, td
  border none
  padding-right 0
tr
  border-top none

@media (min-width: 920px){
  .page{
    margin-right:150px;
  }
}
