// 颜色
$accentColor = #3683d6
$textColor = #45526b
$borderColor = #eaecef
$codeBgColor = #e9f0f8
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 250px
$contentWidth = 900px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 支持的代码语言
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py wxml wxss
