{$contentClass}
  pre, pre[class*="language-"]

    code
      color #333
      font-size 14px

{$contentClass}
  code
    color #3683d6
    font-size 14px
    background-color #e4f1ff

div[class*='language-']
  padding-top: 0.8rem;

  &::before
    color rgba(219,73,132, 0.8)
    font-weight 600

  .highlight-lines
    padding-top: 2.8rem;
    .highlighted
      background-color rgb(196,240,223)

  &::after
    position absolute
    top 1.2em
    left 1.4em
    content ""
    width 10px
    height 10px
    border-radius 50%
    background-color #ff5f56
    box-shadow 18px 0 0 0 #ffbd2e, 36px 0 0 0 #27c93f